<article class="text-center">
  <h2>{{blogpost.title}}</h2>
  <p>Created by <a href="/user/{{blogpost.user.id}}">{{blogpost.user.name}}</a></p>
  <p> {{blogpost.contents}} </p>
  <div class="col-md-7">
    <p>
      {{blogpost.comment}}
    </p>
  </div>
</article>
