<section>
<div class="row justify-content-center">
  {{#each blogposts as |blogpost| }}
  <div class="col-10 mb-4 blogpost">
    <h3>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h3>
    <p>
      {{blogpost.contents}}
    </p>
      <p class="created-by col-6 "><span class="text-muted">Author: </span><a href="/user/{{blogpost.user_id}}">{{blogpost.user.name}}</a></p>
      <p class="text-muted col-6">
        {{format_date blogpost.date_created}}
      </p>  
    </div>
  {{/each}}
  </div>
</section>
<script src="/js/profile.js"></script>